body{
  background-color: #EEF2E6;
  margin: 0;
  font-family: 'Caveat', cursive;
}

::placeholder{
  font-family: 'Caveat', cursive;
}

input, select, textarea, button{
  font-family:inherit;
  font-size: 1em;
  color: grey;
  margin-bottom: 10px;
  margin-left: 5px;
  width: 25%;
}

.nav-bar {
  background-color: #FFB100;
  color: white;
  font-size: 40px;
  text-align: center;
}

.add-task-container{
  border: 1px solid black;
  text-align: center;
}

form{
  font-size: 1.5em;
  text-align: center;
}

h1{
  font-size: 2.5em;
  margin-bottom: 5px;
  margin-top: 5px;
}

label{
  margin-left: 5px;
  margin-right: 5px;
}

.task-list{
  text-align: center;
}

.large-btn{
  width:30%;
  font-size: 2.5em;
  height: 1.5em;
  border-radius: 0.75em;
}

.small-btn{
  width:10%;
  font-size: 1em;
}